# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

*.md
*.zsync
*.disabled
*.AppImage
crash-report.txt
AppDir/
AppDirbuild/
dist/
*~
myapp_1.0.0/
appimage-build/
*screenshots2/
# Added by code-review-graph
.code-review-graph/
graphify-out/

*landing/*

output/
email_builder/
*.pdf
*.txt
*.csv
*.pickle
video/
*.patch
new_landing2/
landing*
.cursorrules
.windsurfrules
.opencode.json
.mcp.json
.claude/
.cursor/
references/
